.footer {
    background: #fafafa;
    height: 500px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .footer1 {
        height: 138px;
        border-bottom: 1px solid #ccc;
        .icons_list {
            width: 100%;
            height: 100%;
            .iconImg {
                width: 70px;
                height: 70px;
                margin: 34px 0 34px 43px;
                float: left;
            }
            .iconText {
                margin-left: 18px;
                float: left;
                margin-top: 48px;
            }
        }
    }
    .footer2 {
        width: 1200px;
        height: 126px;
        margin: 30px auto 0;
        border-bottom: 1px solid #e5e5e5;
        .codeBox {
            display: inline-block;
            float: left;
            width: 400px;
            height: 100%;
            .codeNarrate {
                float: left;
                width: 270px;
                .footer_explain_first {
                    color: #333;
                    font-size: 18px;
                    padding-bottom: 10px;
                    line-height: 20px;
                    display: block;
                }
                .footer_explain_other {
                    color: #333;
                    font-size: 14px;
                    line-height: 16px;
                    padding-bottom: 6px;
                    display: block;
                }
            }
        }
    }
}

// footer3
.footer3 {
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    margin-top: 39px;
    margin-bottom: 60px;
    .codes_list {
        width: 100%;
        height: 100%;
        .codeBox {
            display: inline-block;
            float: left;
            width: 400px;
            height: 100%;
            .codeImg {
                float: left;
                width: 120px;
                height: 100%;
            }
            .codeNarrate {
                float: left;
                width: 270px;
                margin-left: 10px;
                h1 {
                    color: #333;
                    font-size: 24px;
                    padding-bottom: 10px;
                }
                p {
                    color: #666;
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
    }
}

// footer尾
$font12:12px;
.footer_links {
    #data-paizhao {
        height: 60px;
        li {
            font-size: 12px;
            float: left!important;
            margin-right: 29px!important;
            .mb10 {
                margin-bottom: 15px!important;
            }
        }
    }
}

#data-paizhao-div {
    .ftList1 {
        li {
            float: left;
            .mb10 {
                font-size: 14px;
                margin-right: 55px!important;
                .law-link {
                    font-size: 14px;
                }
            }
        }
    }
}

.footmenu {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px 0 10px 0;
    .cutline {
        margin: 0 5px;
        color: #333;
    }
    a {
        color: #000!important;
    }
}

.clearfixtc {
    font-size: 14px!important;
    text-align: center;
    margin: 0 auto;
    a {
        color: #666!important;
        font-size: 13px!important;
    }
    span {
        font-size: 13px!important;
        color: #666!important;
    }
}

.copyright {
    color: #666!important;
    font-size: 12px!important;
    text-align: center;
    a {
        color: #666!important;
        font-size: 12px!important;
    }
    span {
        font-size: 12px!important;
        color: #666!important;
    }
}

.totop {
    ul {
        width: 30px;
        height: 80px;
        li {
            width: 30px;
            height: 40px;
            background: red;
            // background: url(../images/baseRedScrollBar.png) no-repeat -50px -82px;
        }
    }
}

// totop
.baseScrollBar_menus {
    width: 36px;
}

.baseScrollBar_menus .feedback {
    background-position: -50px -82px;
    margin-bottom: 10px;
}

.baseScrollBar_menus .baseToTop,
.baseScrollBar_menus .feedback {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url('../images/baseRedScrollBar.png');
    cursor: pointer;
}

.baseScrollBar_menus .baseToTop {
    background-position: -50px -46px;
}

.baseScrollBar_menus .baseToTop,
.baseScrollBar_menus .feedback {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url('../images/baseRedScrollBar.png');
    cursor: pointer;
}

.feedback {
    background: url('../images/baseRedScrollBar.png') no-repeat -50px -82px;
}

.baseScrollBar_menus {
    height: 60px;
    width: 36px;
    ul {
        height: 60px;
        width: 36px;
        li {
            width: 36px;
            height: 60px;
            background-color: #f00;
        }
    }
}

// .baseScrollBar_menus li {
//     width: 30px;
//     height: 60px;
// }