.main3-nav {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("http://pic2.iqiyipic.com/common/20160907/aeb02196c5134738a34bd527c3bd5395.png")
}

.main4 {
    .main4-brand:hover .main4-leftarrow {
        display: block;
    }
    .main4-brand {
        margin-bottom: 50px;
        height: 242px;
        position: relative;
        .main4-leftarrow {
            display: none;
            width: 52px;
            height: 70px;
            background: #ccc;
            float: left;
            position: absolute;
            top: 83px;
            opacity: 0.8;
            .icon-ziyuan {
                color: #fff;
                font-size: 22px;
                position: absolute;
                left: 10px;
                top: 25px;
            }
        }
        width: 1200px;
        // height: 241px;
        background: skyblue;
        .brand1 {
            height: 242px;
            width: 1200px;
            // height: 241px;
            li {
                float: left;
                width: 120px;
                height: 120px;
                border: 1px solid #f2f2f2;
                margin: -1px 0 0 -1px;
                box-sizing: border-box;
            }
        }
    }
}