html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

a {
  text-decoration: none; }

.top {
  width: 100%;
  height: 32px;
  background: #f7f7f7; }

.topnav {
  width: 1200px;
  height: 32px;
  font-size: 12px;
  color: #999;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; }

.ulnav li {
  float: left;
  margin: 0 20px 0 0;
  line-height: 32px; }

.navright {
  float: right; }

.ulnav1 li {
  width: 90px;
  float: left;
  line-height: 32px; }

.head .head1 {
  width: 1200px;
  height: 60px;
  background: #fff;
  margin: 30px 0 30px 0; }

.headmid {
  width: 606px;
  height: 38px;
  padding-left: 104px;
  background: #fff;
  float: left; }

.search {
  width: 400px;
  height: 34px;
  float: left;
  padding-left: 10px;
  border: 1px solid red;
  outline: none; }

.search_btn {
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 38px;
  margin: 0;
  float: right;
  font-family: inherit;
  outline: 0;
  float: left; }

.headtext {
  float: left;
  height: 24px;
  width: 512px; }

.headtext li {
  float: left;
  font-size: 12px;
  line-height: 14px;
  margin: 5px;
  padding-right: 10px;
  border-right: 1px solid #999; }

.headtext li a {
  color: #999; }

.headtext li a:hover {
  color: red; }

.headright {
  background: pink;
  width: 208px;
  height: 50px; }

.topMenuCar_icon, .topNav_icon, .myFavo_icon, .watch_icon, .bus_icon {
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: 10px;
  margin-right: 3px;
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenuCar_redicon.png") no-repeat; }

.topMenuCar_icon {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenuCar_redicon.png") no-repeat; }

.topNav_icon {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png") no-repeat; }

.myFavo_icon {
  background-position: -110px 0px; }

.watch_icon {
  background-position: -40px 0px; }

.bus_icon {
  background-position: -60px 0px; }

.bannernav {
  width: 100%;
  height: 40px;
  background: #ee394b; }

.banner .banner-leftarrow, .banner .banner-rightarrow {
  display: none;
  width: 70px;
  border-radius: 50%;
  height: 70px;
  background: #000;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
  top: 168px; }

.banner:hover .banner-leftarrow {
  display: block; }

.banner:hover .banner-rightarrow {
  display: block; }

.banner {
  height: 400px;
  transition: opacity 500ms ease-out;
  z-index: 1;
  position: relative; }
  .banner .banner-leftarrow {
    left: 0px; }
    .banner .banner-leftarrow .icon-ziyuan1 {
      font-size: 40px;
      float: left;
      position: absolute;
      color: #fff;
      left: 12px;
      top: 16px; }
  .banner .banner-rightarrow {
    right: 0px; }
    .banner .banner-rightarrow .icon-xiangyou {
      font-size: 49px;
      float: right;
      position: absolute;
      color: #fff;
      opacity: 1 !important;
      left: 14px;
      top: 14px; }
  .banner li {
    float: left; }

.banner img {
  margin: 0 auto;
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -960px; }

.z-index2 {
  display: none; }

.z-index3 {
  display: none; }

.z-index4 {
  display: none; }

.main1 {
  height: 605px;
  width: 1200px;
  margin-top: 20px; }

.main1-nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("http:pic5.iqiyipic.com/common/20160907/ae2dd09618d545a595cc8c97be29a45d.png"); }

.main1nav {
  width: 1200px;
  height: 40px;
  margin: 8px 0 12px 0; }

.day {
  font-size: 30px;
  line-height: 40px; }

.select {
  font-size: 16px;
  color: #777;
  margin-bottom: 4px;
  line-height: 16px; }

.mod {
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 9px;
  border-left: 1px solid #c2c2c2;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 8px; }

.mnavright .m1-a {
  color: #000;
  display: block; }

.m1-a:hover {
  color: #eb3b4a; }

.mnavright {
  margin-top: 10px; }

.m1-ad {
  width: 1200px;
  height: 520px; }

.m1-ad li {
  float: left;
  width: 240px;
  height: 256px;
  border: 1px solid #777;
  box-sizing: border-box; }

.ad-img {
  margin-top: 15px;
  text-align: center; }

.ad-text {
  margin: 20px 15px 15px 15px; }

.ad-text1 {
  color: #000 !important; }

.ad-text2 .sp1 {
  border-radius: 12px 0 0 12px;
  width: 70px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  background: #ee394b;
  padding-left: 10px;
  color: #fff !important; }

.ad-text2 {
  margin: 4px 0 8px 0; }

.ad-text3 .sp3 {
  color: #eb3b4a;
  font-size: 20px; }

.ad-text3 .sp4 {
  font-size: 9.6px;
  float: right; }

.m1-ad:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.main3-left {
  width: 840px;
  height: 6100px; }

.main3-right {
  width: 340px; }

.m3-ad {
  margin-bottom: 10px;
  width: 840px;
  height: 292px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer; }

.m3-ad a {
  display: block;
  margin-bottom: 10px;
  width: 840px;
  height: 292px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer; }

.m3-text {
  height: 292px;
  width: 258px;
  text-align: center; }

.m3-title {
  font-size: 24px;
  color: #333;
  padding: 100px 0 20px 0; }

.m3-price {
  font-size: 18px;
  color: #777; }

.m3-img img {
  float: right;
  width: 580px;
  height: 290px; }

.m3-img:hover {
  opacity: 0.8;
  transition: transform .5s ease; }

.main3-right .m3-nav {
  width: 340px;
  height: 50px;
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/nav_tint_redbg.png") no-repeat; }
  .main3-right .m3-nav .m3-nav-l {
    background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/good_hot_redranking.png") no-repeat;
    float: left;
    margin-top: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 12px; }
  .main3-right .m3-nav .m3-nav-title {
    font-size: 21px;
    color: #333;
    display: inline-block;
    float: left;
    width: 290px;
    margin-top: 15px; }

.m3-shop .shop-img {
  width: 130px;
  height: 110px;
  background: #fff; }
  .m3-shop .shop-img img {
    width: 90px;
    height: 90px;
    margin: 10px;
    transition: transform .5s linear; }
  .m3-shop .shop-img img:hover {
    transform: scale(1.05); }
.m3-shop .shop-text {
  width: 200px;
  height: 110px;
  border-bottom: 1px solid #c2c2c2; }
  .m3-shop .shop-text .shop-icon {
    width: 57px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
    background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_first.png") no-repeat; }
  .m3-shop .shop-text .shoptitle {
    width: 100%;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px; }
  .m3-shop .shop-text .shopprice {
    margin-top: 20px; }
    .m3-shop .shop-text .shopprice .price1 {
      font-size: 18px;
      color: #ee394b;
      display: inline-block;
      float: left; }
    .m3-shop .shop-text .shopprice .price2 .sp1 {
      color: #c2c2c2;
      font-size: 9.6px; }
    .m3-shop .shop-text .shopprice .price2 .sp2 {
      color: #eb3b4a;
      font-size: 12px; }

.main3-right-bottom {
  margin-top: 20px; }

.main3-right-bottom1 {
  border: 1px solid #c2c2c2; }
  .main3-right-bottom1 img {
    width: 320px;
    height: 160px;
    padding: 10px 0 0 10px; }
  .main3-right-bottom1 .m3-rb-text {
    margin: 15px 5px 20px 10px; }
    .main3-right-bottom1 .m3-rb-text .goodTitle {
      font-size: 20px;
      margin-bottom: 10px; }
    .main3-right-bottom1 .m3-rb-text .goodDescribe {
      color: #777; }

.main3:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.main2-nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("http://pic3.iqiyipic.com/common/20160907/bb2d4ba3d4fa4b369c76b813af23cd7f.png"); }

.main3-nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("http://pic2.iqiyipic.com/common/20160907/aeb02196c5134738a34bd527c3bd5395.png"); }

.main4 .main4-brand:hover .main4-leftarrow {
  display: block; }
.main4 .main4-brand {
  margin-bottom: 50px;
  height: 242px;
  position: relative;
  width: 1200px;
  background: skyblue; }
  .main4 .main4-brand .main4-leftarrow {
    display: none;
    width: 52px;
    height: 70px;
    background: #ccc;
    float: left;
    position: absolute;
    top: 83px;
    opacity: 0.8; }
    .main4 .main4-brand .main4-leftarrow .icon-ziyuan {
      color: #fff;
      font-size: 22px;
      position: absolute;
      left: 10px;
      top: 25px; }
  .main4 .main4-brand .brand1 {
    height: 242px;
    width: 1200px; }
    .main4 .main4-brand .brand1 li {
      float: left;
      width: 120px;
      height: 120px;
      border: 1px solid #f2f2f2;
      margin: -1px 0 0 -1px;
      box-sizing: border-box; }

.footer {
  background: #fafafa;
  height: 500px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .footer .footer1 {
    height: 138px;
    border-bottom: 1px solid #ccc; }
    .footer .footer1 .icons_list {
      width: 100%;
      height: 100%; }
      .footer .footer1 .icons_list .iconImg {
        width: 70px;
        height: 70px;
        margin: 34px 0 34px 43px;
        float: left; }
      .footer .footer1 .icons_list .iconText {
        margin-left: 18px;
        float: left;
        margin-top: 48px; }
  .footer .footer2 {
    width: 1200px;
    height: 126px;
    margin: 30px auto 0;
    border-bottom: 1px solid #e5e5e5; }
    .footer .footer2 .codeBox {
      display: inline-block;
      float: left;
      width: 400px;
      height: 100%; }
      .footer .footer2 .codeBox .codeNarrate {
        float: left;
        width: 270px; }
        .footer .footer2 .codeBox .codeNarrate .footer_explain_first {
          color: #333;
          font-size: 18px;
          padding-bottom: 10px;
          line-height: 20px;
          display: block; }
        .footer .footer2 .codeBox .codeNarrate .footer_explain_other {
          color: #333;
          font-size: 14px;
          line-height: 16px;
          padding-bottom: 6px;
          display: block; }

.footer3 {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  margin-top: 39px;
  margin-bottom: 60px; }
  .footer3 .codes_list {
    width: 100%;
    height: 100%; }
    .footer3 .codes_list .codeBox {
      display: inline-block;
      float: left;
      width: 400px;
      height: 100%; }
      .footer3 .codes_list .codeBox .codeImg {
        float: left;
        width: 120px;
        height: 100%; }
      .footer3 .codes_list .codeBox .codeNarrate {
        float: left;
        width: 270px;
        margin-left: 10px; }
        .footer3 .codes_list .codeBox .codeNarrate h1 {
          color: #333;
          font-size: 24px;
          padding-bottom: 10px; }
        .footer3 .codes_list .codeBox .codeNarrate p {
          color: #666;
          font-size: 14px;
          line-height: 25px; }

.footer_links #data-paizhao {
  height: 60px; }
  .footer_links #data-paizhao li {
    font-size: 12px;
    float: left !important;
    margin-right: 29px !important; }
    .footer_links #data-paizhao li .mb10 {
      margin-bottom: 15px !important; }

#data-paizhao-div .ftList1 li {
  float: left; }
  #data-paizhao-div .ftList1 li .mb10 {
    font-size: 14px;
    margin-right: 55px !important; }
    #data-paizhao-div .ftList1 li .mb10 .law-link {
      font-size: 14px; }

.footmenu {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  padding: 5px 0 10px 0; }
  .footmenu .cutline {
    margin: 0 5px;
    color: #333; }
  .footmenu a {
    color: #000 !important; }

.clearfixtc {
  font-size: 14px !important;
  text-align: center;
  margin: 0 auto; }
  .clearfixtc a {
    color: #666 !important;
    font-size: 13px !important; }
  .clearfixtc span {
    font-size: 13px !important;
    color: #666 !important; }

.copyright {
  color: #666 !important;
  font-size: 12px !important;
  text-align: center; }
  .copyright a {
    color: #666 !important;
    font-size: 12px !important; }
  .copyright span {
    font-size: 12px !important;
    color: #666 !important; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

a {
  color: #999; }

/*# sourceMappingURL=index.css.map */
